<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Cerrar</span>
      </button>
      <h4 class="modal-title">Configurar Carrusel</h4>
    </div>
    <div class="modal-body">
      <p class="alert alert-info">El carrusel fue configurado exitosamente!</p>
    </div><!-- /.modal-body -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
  // close the modal after 3 seconds
  setTimeout(function() {
    $('#modal-carousel').modal('hide');
  }, 3000);
</script>