{% extends "tuisd/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'formBuilder/css/demo.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.css">
{% endblock %}

{% block content %}
  <h1>Constructor de formularios</h1>
  <div id="stage1" class="build-wrap"></div>
  <form class="render-wrap"></form>
  <button id="edit-form">Editar formulario</button>
	<h2>Código generado</h2>
	<pre><form action=""><code id="markup"></code></form></pre>
{% endblock %}

{% block scripts %}
<script src="{% static 'formBuilder/js/vendor.js' %}"></script>
<script src="{% static 'formBuilder/js/form-builder.min.js' %}"></script>
<script src="{% static 'formBuilder/js/form-render.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.js"></script>
<script src="{% static 'formBuilder/js/demo.js' %}"></script>
{% endblock %}

