{% load static bootstrap3 %}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configurar Panel</h4>
    </div>
    <div class="modal-body">
        <form id="panel-edit-form" action="#" class="post-form forms" data-parsley-validate novalidate>
            <div class="row">
                <div class="col-lg-6">
                    {% bootstrap_field tabForm.number_tabs %}
                    {% bootstrap_field tabForm.title %}
                    {% bootstrap_field tabForm.title_style %}                        
                    {% bootstrap_field tabForm.content %}
                    {% bootstrap_field tabForm.content_color %}                            
                    {% bootstrap_field tabForm.content_style %}
                </div>
                <div class="col-lg-6">
                    {% bootstrap_field tabForm.border_style %}
                    {% bootstrap_field tabForm.border_color %}
                    {% bootstrap_field tabForm.border_radius %}
                    {% bootstrap_field tabForm.style %}
                </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="panel-edit-submit" data-dismiss="modal">Aceptar</button>
        </form>
    </div>
</div>
</div>
