 #navbar {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #FF8141;
  color: #e1ffff;
}

.navbar-default .navbar-nav>.active>a {
	color: #FFF;
	background-color: #944E00;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #FFF;
	background-color: #944E00;
}

ul.nav.navbar-nav>li>a:hover {
	color: #FFF;
	background-color: #944E00;
}