{% extends "builder/base.html" %}

{% load static %}


{% block content %}


<div class="builder content">
	<div class="row">
    	<div class="col-lg-12">

  			<h1>Bienvenido</h1>
	     	<div class="row block-row">
	      		<h3 class="text-row">Este es su manejador de contenido para diseñar el templates de su preferencia</h3>
	      		<h3 class="text-row">En la sección de Patrones usted podrá seleccionar los patrones que desea agregar a su template</h3>	
	     	</div>
  		</div>
 	</div>
  </div>

  

  <div id="new_ask" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configuracion de Encuesta</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer"> 
          <button id="accept" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom_script %}
  <script>
  	$(document).on('click', "button.config", function() {
  		$("#new_ask").modal('toggle');
  		$("#new_ask").modal('show');
  		console.log("no yo soy viejo pero tengo el webo como uno")
      $.ajax({
          url : "{% url 'pollConfig' %}",
          type : 'POST'
         
      })
      .done(function(data){
          console.log(" pipi");
      });
  	});


    $(".pattern").on('click', function() {
      $(".builder").append("<div class='row block'><div class='col-lg-12 '><div class='col-lg-8'><h3>Encuesta</h3><ul><li>Pregunta 1</li><li>Pregunta 2</li><li>Pregunta 3</li></ul></div><div class='col-lg-4'><button id='config' class='config btn btn-primary'>Configurar</button><button class='btn btn-primary'>Clonar</button><button class='btn btn-danger'>Eliminar</button></div></div></div>")
    });
  </script>
{% endblock custom_script %}