{% extends "builder/base.html" %}

{% load static %}


{% block content %}


<div class="builder content">
	<div class="row">
    	<div class="col-lg-12">

  			<h1>Bienvenido</h1>
	     	<div class="row block-row">
	      		<h3 class="text-row">Este es su manejador de contenido para diseñar el templates de su preferencia</h3>
	      		<h3 class="text-row">En la sección de Patrones usted podrá seleccionar los patrones que desea agregar a su template</h3>	
	     	</div>
  		</div>
 	</div>
  </div>

  

  <div id="nuevo_campo" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Seleccione el nuevo campo que desea agregar</h4>
        </div>
        <div class="modal-body">
          <button id="encuesta" class="btn btn-primary" >Encuesta</button>
        </div>
        <div class="modal-footer"> 
          <button id="aceptarNewEntry" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom_script %}
  <script>
  	$(".ventana").on('click', function() {
  		$("#nuevo_campo").modal('toggle');
  		$("#nuevo_campo").modal('show');
  	});

    $(".pattern").on('click', function() {
      $(".builder").append("<div class='row block'><div class='col-lg-12 '><div class='col-lg-8'><h3>Encuesta</h3><ul><li>Pregunta 1</li><li>Pregunta 2</li><li>Pregunta 3</li></ul></div><div class='col-lg-4'><button class='btn btn-primary'>Configurar</button><button class='btn btn-primary'>Clonar</button><button class='btn btn-danger'>Eliminar</button></div></div></div>")
    });
  </script>
{% endblock custom_script %}