{% load static bootstrap3 %}

<!-- Tab modal -->
{% if tabForm %}
<div id="tab-create-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tabCreateModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTab">Crear Tab</h4>
            </div>
            <div class="modal-body">
                <form id="tab-create-form" method="POST" class="post-form" novalidate>

                    {% csrf_token %}
                    <div class="row">
                    
                        <div class="col-lg-6">
                            {% bootstrap_field tabForm.number_tabs %}
                            {% bootstrap_field tabForm.title %}
                            {% bootstrap_field tabForm.title_style %}                        
                            {% bootstrap_field tabForm.content %}
                            {% bootstrap_field tabForm.content_color %}                            
                            {% bootstrap_field tabForm.content_style %}
                        </div>
                        <div class="col-lg-6">
                            {% bootstrap_field tabForm.border_style %}
                            {% bootstrap_field tabForm.border_color %}
                            {% bootstrap_field tabForm.border_radius %}
                            {% bootstrap_field tabForm.style %}
                        </div>
                    
                    </div>
                    <button type="submit" class="save btn btn-default" id="tab-create-submit">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End tab modal -->