{% extends "base-home.html" %}

{% load static %}
{% block content %}

<div class = "container-fluid topcontent">
  <div class = "col-lg-4"></div>
  <div class = "col-lg-4">
    <img class="img-responsive" src="{% static 'img/TUIsD.png' %}"/>
  </div>
  <div class = "col-lg-4"></div>
</div>
<!-- Contenido secundario -->
<div class="container sec-content">
  <div class="row">
    <div class="col-sm">
      <h2 align="center">TUisd es tu manejador de contenido I D E A L</h2><br>
      <p align="center">El estudio de tus necesidades financieras no puede dejarse a un lado. Es por eso que estamos aquí para asesorarte y ayudarte a que puedas administrar tus finanzas de la mejor forma. Hemos creado planes especiales que se adaptan a las necesidades de nuestros clientes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>IDEAMOS</h3>
      <i class="fa fa-money" style="font-size:48px;"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>MATERIALIZAMOS</h3>
      <i class="fa fa-line-chart" style="font-size:48px"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>CUMPLIMOS</h3> 
      <i class="fa fa-share-alt" style="font-size:48px;"></i>       
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>



{% endblock content %}

{% block custom_script %}
  <script>
    $(document).ready(function() {
      $('#home').attr('class','active')
    });
  </script>
{% endblock custom_script %}