{% extends "base-home.html" %}

{% load static %}
<!-- Main navbar -->
{% block navbar %}

<nav class="navbar navbar-default" id ='navbar'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TUIsD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'build' %}">Diseño</a></li>
      <li><a href="{% url 'ver_templates' %}">Ver Templates</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Iniciar Sesión</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

{% endblock navbar %}
<!-- /main navbar -->
{% block content %}

  <div class = "col-lg-4"></div>
  <div class = "col-lg-4">
    <img class="img-responsive" src="{% static 'img/TUIsD.png' %}"/>
  </div>
<div class = "col-lg-4"></div>


{% endblock content %}

{% block custom_script %}

{% endblock custom_script %}