{% extends "base-home.html" %}

{% load static %}
<!-- Main navbar -->
{% block navbar %}
{% if templ.sidebar %}
  <div style="margin-left:300px; position:fixed; width:100%; z-index:1000;">
{% else %}
  <div style="position:fixed; width:100%; z-index:1000;">
{% endif %}
  {% if templ.navbar %}
    {{ templ.navbar.render }}
  {% endif %}
</div>
{% endblock navbar %}

{% block sidebar %}
  {%if templ.sidebar %}
    {{ templ.sidebar.render }}
  {% endif %}
{% endblock sidebar %}

<!-- /main navbar -->
{% block content %}
{% if templ.navbar %}
  <div style="margin-top: 50px;">
{% else %}
  <div>
{% endif %}

  {% if templ.sidebar %}
    <div class="container" style="margin-left: 320px; margin-top:40px;">
  {% else %}
    <div class="container">
  {% endif %}

  {% if page_name == 'Preview' %}
    <div class="row" style="margin-bottom: 10px;">
      <a type="button" class="btn btn-primary btn-lg" href="{% url 'editar' tem_id%}" style="margin-top: 20px;"><< Volver</a>
    </div>

  {% elif page_name == 'revisar' and templ.sidebar %}
    <div class="row" style="margin-bottom: 10px;">
      <a type="button" class="btn btn-primary btn-lg" href="{% url 'ver_templates' %}" style="margin-top: 20px;"><< Volver</a>
    </div>
  {% endif %}

  {% for p in templ.content_patterns %}
    {{ p.render }}
  {% endfor %}
</div>


</div>
<!-- Captcha HTML para ser usado por FormBuilder -->
<div id='captcha-html'>{% include 'patrones/captcha_pattern/view.html' %}</div>

<script>
$('.check').on('change', function() {
    if (this.checked) {
        $(this).closest('div.panel-body').find("input[class='vote']").prop('disabled', false);
    } else {
      alert("ENTRO")
        $(this).closest('div.panel-body').find("input[class='vote']").prop('disabled', true);
    }
});

</script>

{% endblock content %}

{% block custom_script %}
{% endblock custom_script %}
